<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../css/complex.css" />
		<title>小薇任务九</title>
		<script src="../js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var nav = $(".nav");
				var navTop = 0;
				$(window).scroll(function() {
					navTop = $(window).scrollTop();
					if(navTop >= 100) {
						if(!nav.hasClass("fixednav")) {
							nav.addClass("fixednav");
						}
					} else {
						nav.removeClass("fixednav");
					}
				});
			});
		</script>
	</head>

	<body>
		<header class="nav-head">
			<div class="nav-blank">导航栏可隐藏部分</div>
			<div class="nav">
				<div class="nav-content"><!--为了滑动页面时固定导航栏，增加一个div容器-->
					<div class="nav-logo">
						<img src="../image/complex/_编组_-78.png">
					</div>
					<div class="nav-login">
						<input type="text" />
						<a><i></i>登录</a>
					</div>
				</div>
			</div>
		</header>
		<section class="container clearfix">
			<div class="left">
				<div class="user">
					<i class="user-logo"></i>
					<span class="user-name">ABC123</span>
					<ul class="user-info">
						<li class="user-like">
							<p>110</p>
							<span>收藏</span>
						</li>
						<li class="user-fans">
							<p>313</p>
							<span>粉丝</span>
						</li>
					</ul>
				</div>
				<ul class="details clearfix">
					<li class="details-report">
						<div class="details-shadow"></div>
						<i></i><span class="white-word">个人报表</span>
						<ul class="details-info">
							<li><i class="details-left-arrow"></i><i class="details-info-file"></i><span>文件一</span></li>
							<li>
								<i class="details-down-arrow"></i><i class="details-info-file"></i><span class="white-word">文件二</span>
								<ul class="details-info">
									<li><i class="details-info-doc"></i><span class="white-word">文档1</span></li>
									<li><i class="details-info-doc"></i><span>文档2</span></li>
								</ul>
							</li>
							<li><i class="details-left-arrow"></i><i class="details-info-file"></i><span>文件三</span></li>
						</ul>
					</li>
					<li class="details-like"><i></i><span>个人收藏</span></li>
					<li class="details-share"><i></i><span>我的分享</span></li>
					<li class="details-photo"><i></i><span>图库</span></li>
					<li class="details-growth"><i></i><span>成长记录</span></li>
					<li class="details-account"><i></i><span>账户信息</span></li>
				</ul>
			</div>
			<div class="right">
				<div class="right-title">
					<p> C站 / 个人报表 / 文件一 / <span>文档1</span></p>
				</div>
				<div class="search">
					<div class="search-item">
						<span>查询项</span>
						<select class="select-option">
							<option>第一项</option>
							<option>第二项</option>
						</select>
					</div>
					<div class="search-member">
						<div class="member-roler">
							<div class="member-buyer">
								<span>买方</span>
								<select class="select-option">
									<option>小A</option>
								</select>
							</div>
							<div class="member-saler">
								<span>卖方</span>
								<select class="select-option">
									<option>小C</option>
								</select>
							</div>
						</div>
						<div class="member-change">换</div>
					</div>
					<div class="search-details">
						<span>日期</span>
						<input class="search-date" type="text" value="2016-04-01" />
						<span>总耗时</span>
						<select class="select-option time">
							<option>8 天</option>
						</select>
						<span>人数</span>
						<select class="select-option people">
							<option>10 人</option>
						</select>
						<span>成交项</span>
						<select class="select-option item">
							<option>10 项</option>
						</select>
					</div>
					<div class="search-button"><input type="submit" value="搜索"></div>
				</div>
				<div class="history">
					<div class="turn-left"></div>
					<div class="history-item">
						<div class="border-change"></div>
						<span class="item-time">10:00 am</span><br>
						<span class="item-momey"><i></i>1200</span>
					</div>
					<div class="history-item">
						<div class="border-change"></div>
						<span class="item-time">11:00 am</span><br>
						<span class="item-momey"><i></i>1300</span>
					</div>
					<div class="history-item">
						<div class="border-change"></div>
						<span class="item-time">12:00 am</span><br>
						<span class="item-momey"><i></i>1200</span>
					</div>
					<div class="history-item">
						<div class="border-change"></div>
						<span class="item-time">01:00 pm</span><br>
						<span class="item-momey"><i></i>1400</span>
					</div>
					<div class="history-item">
						<div class="border-change"></div>
						<span class="item-time">02:00 pm</span><br>
						<span class="item-momey"><i></i>1500</span>
					</div>
					<div class="history-item">
						<div class="border-change"></div>
						<span class="item-time">03:00 am</span><br>
						<span class="item-momey"><i></i>1800</span>
					</div>
					<div class="turn-right"></div>
					<div class="history-search">历史查询</div>
				</div>
				<div class="count">
					<p class="count-title">2016年4月份统计</p>
					<ul>
						<li class="green count-sum">
							<p>133311</p>
							<p>成交量</p>
							<div class="count-color"></div>
						</li>
						<li class="blue count-sum">
							<p>133311</p>
							<p>成交量</p>
							<div class="count-color"></div>
						</li>
						<li class="red count-sum">
							<p>133311</p>
							<p>成交量</p>
							<div class="count-color"></div>
						</li>
						<li class="yellow count-sum">
							<p>133311</p>
							<p>成交量</p>
							<div class="count-color"></div>
						</li>
					</ul>
				</div>
				<div class="project">
					<div class="project-list">
						<div class="project-name">
							<p>第一组项目</p>
						</div>
						<ul class="project-list-item">
							<li>
								<input class="item-radio" name="item" type="radio" id="item1" checked="checked" />
								<label class="item-label" for="item1">项目一</label>
								<div class="item-content">
									<table>
										<tr>
											<td>购买材料一</td>
											<td>购买材料一</td>
											<td>购买材料一</td>
											<td>购买材料一</td>
										</tr>
										<tr>
											<td>购买材料二</td>
											<td>购买材料二</td>
											<td>购买材料二</td>
											<td>购买材料二</td>
										</tr>
										<tr>
											<td>购买材料三</td>
											<td>购买材料三</td>
											<td>购买材料三</td>
											<td>购买材料三</td>
										</tr>
										<tr>
											<td>购买材料四</td>
											<td>购买材料四</td>
											<td>购买材料四</td>
											<td>购买材料四</td>
										</tr>
										<tr>
											<td>购买材料五</td>
											<td>购买材料五</td>
											<td>购买材料五</td>
											<td>购买材料五</td>
										</tr>
										<tr>
											<td>购买材料六</td>
											<td>购买材料六</td>
											<td>购买材料六</td>
											<td>购买材料六</td>
										</tr>
									</table>
								</div>
							</li>
							<li>
								<input class="item-radio" name="item" type="radio" id="item2" />
								<label class="item-label" for="item2">项目二</label>
								<div class="item-content">
									<table>
										<tr>
											<td>购买材料1</td>
											<td>购买材料1</td>
											<td>购买材料1</td>
											<td>购买材料1</td>
										</tr>
										<tr>
											<td>购买材料2</td>
											<td>购买材料2</td>
											<td>购买材料2</td>
											<td>购买材料2</td>
										</tr>
										<tr>
											<td>购买材料3</td>
											<td>购买材料3</td>
											<td>购买材料3</td>
											<td>购买材料3</td>
										</tr>
										<tr>
											<td>购买材料4</td>
											<td>购买材料4</td>
											<td>购买材料4</td>
											<td>购买材料4</td>
										</tr>
									</table>
								</div>
							</li>
							<li>
								<input class="item-radio" name="item" type="radio" id="item3" />
								<label class="item-label" for="item3">项目三</label>
								<div class="item-content">
									<table>
										<tr>
											<td>材料1</td>
											<td>材料1</td>
											<td>材料1</td>
											<td>材料1</td>
										</tr>
										<tr>
											<td>材料2</td>
											<td>材料2</td>
											<td>材料2</td>
											<td>材料2</td>
										</tr>
										<tr>
											<td>材料3</td>
											<td>材料3</td>
											<td>材料3</td>
											<td>材料3</td>
										</tr>
									</table>
								</div>
							</li>
							<li>
								<input class="item-radio" name="item" type="radio" id="item4" />
								<label class="item-label" for="item4">项目四</label>
								<div class="item-content"></div>
							</li>
							<li>
								<input class="item-radio" name="item" type="radio" id="item5" />
								<label class="item-label" for="item5">项目五</label>
								<div class="item-content"></div>
							</li>
						</ul>
					</div>
					<div class="project-details">
						<div class="project-name">
							<p>第一组项目</p>
						</div>
						<div class="project-title">
							<span>标题</span>
							<p>项目报表三</p>
						</div>
						<div class="project-property">
							<div class="price">
								<span>价格</span>
								<p>158</p>
							</div>
							<div class="manager">
								<span>负责人</span>
								<p>小A</p>
							</div>
						</div>
						<div class="project-content">
							<span>详细描述</span>
							<p>该项目目前负责人是......</p>
						</div>
						<div class="project-check">
							<input class="agreement" type="checkbox" name="agreement" />
							<label for="agreement">遵守保密协议</label>
							<input class="searchBtn" type="submit" value="搜索" />
						</div>
					</div>
				</div>
				<div class="other">
					<div class="calendar">
						<div class="project-name">
							<p>日历</p>
						</div>
						<div class="calendar-select">
							<select class="calendar-option year">
								<option>2016年</option>
							</select>
							<select class="calendar-option month">
								<option>4月</option>
							</select>
							<select class="calendar-option day">
								<option>标注日期</option>
							</select>
							<a class="calendar-return">返回今天</a>
						</div>
						<table class="calendar-content">
							<tr class="week">
								<td>一</td>
								<td>二</td>
								<td>三</td>
								<td>四</td>
								<td>五</td>
								<td>六</td>
								<td>日</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>1<span class="holiday">愚人节</span></td>
								<td class="weekend">2<span>廿五</span></td>
								<td class="weekend">3<span>廿六</span></td>
							</tr>
							<tr>
								<td>4<span>廿七</span></td>
								<td>5<span class="holiday">清明</span></td>
								<td>6<span>廿九</span></td>
								<td>7<span>三月</span></td>
								<td>8<span>初二</span></td>
								<td class="weekend">9<span>初三</span></td>
								<td class="weekend">10<span>初四</span></td>
							</tr>
							<tr>
								<td>11<span>初五</span></td>
								<td>12<span>初六</span></td>
								<td>13<span>初七</span></td>
								<td>14<span>初八</span></td>
								<td>15<span>初九</span></td>
								<td class="weekend">16<span>初十</span></td>
								<td class="weekend">17<span>十一</span></td>
							</tr>
							<tr>
								<td>18<span>十二</span></td>
								<td>19<span>十三</span></td>
								<td>20<span>十四</span></td>
								<td>21<span>十五</span></td>
								<td>22<span>十六</span></td>
								<td class="weekend">23<span>十七</span></td>
								<td class="weekend">24<span>十八</span></td>
							</tr>
							<tr>
								<td>25<span>十九</span></td>
								<td>26<span>廿十</span></td>
								<td>27<span>廿一</span></td>
								<td>28<span>廿二</span></td>
								<td>29<span>廿三</span></td>
								<td class="weekend">30<span>廿四</span></td>
								<td class="weekend"></td>
							</tr>
						</table>
					</div>
					<div class="chart">
						<div class="project-name">
							<p>汽车排行榜</p>
						</div>
						<table>
							<tr class="chart-title">
								<td>排名</td>
								<td>品牌</td>
								<td class="chart-search">搜索指数</td>
							</tr>
							<tr>
								<td>1</td>
								<td>大众</td>
								<td class="chart-search top1">48912001
									<progress value="80" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>丰田</td>
								<td class="chart-search top2">29307333
									<progress value="70" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>奥迪</td>
								<td class="chart-search top3">23139070
									<progress value="65" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>奥迪</td>
								<td class="chart-search top">23139070
									<progress value="60" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>本田</td>
								<td class="chart-search top">22885564
									<progress value="55" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>福特</td>
								<td class="chart-search top">22324792
									<progress value="50" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>6</td>
								<td>宝马</td>
								<td class="chart-search top">21444077
									<progress value="45" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>7</td>
								<td>现代</td>
								<td class="chart-search top">20114969
									<progress value="40" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>8</td>
								<td>起亚</td>
								<td class="chart-search top">19251680
									<progress value="35" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>9</td>
								<td>奔驰</td>
								<td class="chart-search top">19172837
									<progress value="30" max="100"></progress>
								</td>
							</tr>
							<tr>
								<td>10</td>
								<td>别克</td>
								<td class="chart-search top">18544027
									<progress value="25" max="100"></progress>
								</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</section>
	</body>

</html>