<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报纸排版</title>
    <link rel="stylesheet" href="../css/newspaper.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="red-block">
        <p>ife.baidu.com</p>       
        </div>
        <p class="top-p">2016.03</p>
      </div>
      <div class="horizon-top"></div>
      <div class="part1">
        <div class="part1-photo">
          <img src="../image/newspaper/pc1.jpg">
          <div class = "shadow-green"></div>
          <div class = "shadow-pink"></div>
        </div>
        <div class="part1-content">
        <div class="horizon-right"></div>
          <p class="title-bg">ABOUT</p>
          <p class="title-bg">TECHNOLOGE</p>
          <p class="title-sm">About technologe about technologe about technologe</p>
          <p class="number-bg">700</p>
          <p class="number-sm">3.2</p>
          <p class="text-bg">CSS</p>
          <p class="text-sm">cssssscsssss</p>
        </div>
      </div>
      <div class="part2">
        <div class="part2-right">
          <h3 class="part2-right-title">What</h3>
          <p class="part2-right-content">前端前端前端前端前端前端前端前端前端前端前端前端前端前端前前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端</p>
        </div>
        <div class="part2-center">
          <h3 class="part2-center-title">When</h3>
          <p class="part2-center-content">前端前端前端前端前端前端前端前端前端前端前端前端前端前端前前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端</p>
        </div>              
      <div class="part2-left">
        <h3 class="part2-left-title">How</h3>
        <p class="part2-left-content">前端前端前端前端<br>
          前端前端前端前端前端前端前端前端前端端前端前端前</p>
        <p class="part2-left-content2">What------ <span class="part2-left-number">40%</span></p>
        <p class="part2-left-content2">What------ <span class="part2-left-number">40%</span></p>
        <p class="part2-left-content2">What------ <span class="part2-left-number">30%</span></p>
        </div>
      </div>
      <div class="part3">
        <div class="part3-left">
          <div class="part3-left-title">
          <p>
            <span class="title-first-letter">THE </span>
            <span class="part3-title-en">TECNOLOGE<br>
            OF FRONT</span>
          </p>
          <p class="part3-title-cn">前端技术领域</p>
          
          </div>
          <div class="part3-left-content">
            <p class="part3-left-content1"><span class="content-first-letter">前</span>端前端前端前端前端前端前端前端前端前端前端前端前端前端前前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端。</p>
            <img class="part3-left-photo" src="../image/newspaper/pc3.png">
            <p class="part3-left-content2">端前端前端前端前端前端前端前端前端前端前端前端前端前端前前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端。</p>
            <p class="part3-left-content3">前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端端前端前端前端前端前端端前端前。</p>           
        </div>
        </div>
        <div class="part3-right">
          <div class="part3-right-photo">
            <img class="part3-right-photo" src="../image/newspaper/pc2.jpg">
            <div class="shadow-grey"></div>
            <div class="shadow-hr"></div>
            <div class="shadow-title">前端技术<span class="shadow-title-sm">前端技术前端技术</span></div>
          </div>
          <div class="part3-right-content">
            <ul class="part3-right-ul">
              <li class="part3-right-li"><span class="triangle"></span>
                前端前端前端前端前端前端..................<span >前端</span></li>
              <li class="part3-right-li"><span class="triangle"></span>
                前端前端前端前端前端前端..................<span>前端</span></li>
              <li class="part3-right-li"><span class="triangle"></span>
                前端前端前端前端前端前端..................<span>前端</span></li>
            </ul>
            <div class="part3-right-pink">
              <span class="part3-right-num">0</span>
              <div class="part3-num-caption">
                <p class="caption-bg">ONE TWO <br>THREE FOUR FIVE</p>
                <p class="caption-sm">hello world hello word<br> hello world</p></div>
            </div>
            <div class="part3-num-caption-text"><span class="quote-left">“</span> world hello world hello world hello world hello world hello world hello world hello world hello world hello world hello world
              <span class="quote-right">”</span></div>
          </div>
        </div>
      </div>
      <div class="horizon-bottom"></div>
      <p class="footer-caption">ife.baidu.com</p>
    </div>
  </body>
</html>